// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

//My imports:
//@import compass/utilities/general.sass
//@import compass/utilities/text.sass
@import compass/utilities/links.sass
@import compass/utilities/lists.sass
//@import compass/utilities/tables.sass
//@import compass/layout.sass

//Our own styles
=error-style
  text-align: center
  padding-top: 5px
  padding-bottom: 4px
  background-color: #c44
  //background-color: #999
  font-weight: bold
  color: white
  //We can't have any margin-bottom since that'll put a gap between the error bar
  //and the userbox.

=errorlist-style
  +error-style
  +no-bullets
  margin-left: 0
  margin-bottom: 5px  
  width: 100%
  font-size: 0.8em
  background-color: #fdd
  color: #c44

//We use this with the new messages framework.
=messages-style
  font-size: 0.9em
  //Should be same as header margin-bottom:
  margin-top: 5px
  margin-bottom: 5px
  ul
    //Inside makes the bullet points "inside" the li container.
    list-style-position: inside
    margin: 0
    li
      padding: 4px 20px 3px
      margin-bottom: 4px
    .success
      background-color: #cfc
      //border: 2px solid #ada
    .error
      background-color: #fdd
      //border: 2px solid #eaa
      //color: #c44
    .info
      background-color: #adf
      //border: 1px solid #3b4d7f

body
  //Default font-size:
  font-size: 1.1em
  font-family: Georgia, Times, Times New Roman, sans-serif
  a
    +hover-link

  #container
    //+container
    margin: 0 auto
    width: 550px
  #messages
    +messages-style 

  #header
    margin-top: 10px
    margin-bottom: 20px
    text-align: right
    h1
      font-size: 2.2em
      float: left
      margin-bottom: 0
      //Hackish method of correcting blueprint set line-height:
      line-height: 1.5
      a
        color: #333
        text-decoration: none
    ul
      font-size: 0.9em
      margin-bottom: 0
      +horizontal-list
      padding-top: 25px
      padding-left: 20px
  //#content
  //  padding: 5px

  //#footer
  //  margin-top: 20px

  //  text-align: right
  //  font-size: 0.6em
  //  font-family: Georgia, Times, Times New Roman, sans-serif
  //  color: #aaa
  //  a
  //    color: #aaa

body#login, body#logged_out
  background: #ccc
  #header, #footer
    display: none
  #content
    #login_box
      margin: 0 auto
      padding: 20px
      width: 400px
      border: 2px solid #999
      background: #fff
      text-align: center
      h2
        font-size: 1.8em
        margin-bottom: 10px
        a
          color: #333
          text-decoration: none
      #messages
        margin-top: 10px

body#profile
  #container
    width: 450px
  #content
    #user_information
      p.helper
        margin-bottom: 15px
        text-align: center
      form#profile_form
        .errorlist
          +errorlist-style
        p
          margin-bottom: 10px
        label
          font-size: 0.90em
          font-weight: bold
          display: block
        input[type=text]
          //Rough way to make text width same as error message.
          width: 435px
          font-size: 1.2em
          padding: 4px 5px
        .actions
          text-align: right
          button
            font-family: Georgia, Times, Times New Roman, sans-serif
            font-size: 1.0em
            padding: 7px 10px

body#associate
  #container
    width: 450px
  #content
    #associated_logins
      font-size: 0.9em
      p.helper
        margin-bottom: 15px
        text-align: center
      dl
        margin-bottom: 10px
        dt
          float: left
          width: 70px
          text-align: right
          margin-right: 10px
          //Push down label for text input
          margin-top: 5px
        dd
          input[type=text]
            width: 300px
            font-size: 0.9em
            padding: 4px 5px
          a
            font-size: 0.7em
    #add_login
      text-align: center
      margin-top: 15px
      p
        margin-bottom: 0
      p.helper
        font-size: 0.8em
