html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body { font-size: 1.1em; font-family: Georgia, Times, Times New Roman, sans-serif; }
body #messages { font-size: 0.9em; margin-top: 5px; margin-bottom: 5px; }
body #messages ul { list-style-position: inside; margin: 0; }
body #messages ul li { padding: 3px 20px 2px; margin-bottom: 4px; }
body #messages ul .success { background-color: #cfc; }
body #messages ul .error { background-color: #fdd; }
body #messages ul .info { background-color: #adf; }

body#login { background: #ccc; }
body#login #header, body#login #footer { display: none; }
body#login #content #login_box { margin: 0 auto; padding: 20px; width: 400px; border: 2px solid #999; background: #fff; text-align: center; }
body#login #content #login_box h2 { font-size: 1.8em; margin-bottom: 10px; }
body#login #content #login_box h2 a { color: #333; text-decoration: none; }
body#login #content #login_box #messages { margin-top: 10px; }
