{% extends "django_rpx/base.html" %}
{% load rpx_tags %}

{% block bodyid %}associate-instructions{% endblock %}
{% block title %}Associate Login{% endblock %}

{% block extracss %}
<style type="text/css">
    #container {
        width: 500px;
        margin: 5px auto;
    }
    #header {
        text-align: center;
    }
    #content #helper {
        text-align: center;
    }
    #content #rpx_embed {
        display: block;
        margin: 0 auto;
        border: 1px solid #ccc;
        width: 330px !important;
        height: 240px !important;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 28px;
        padding-right: 5px;
    }

</style>
{% endblock %}

{% block header %}
    <h1>Associate Login with Existing User</h1>
{% endblock %}

{% block content %}
    <p id="helper">
    To associate your new login with an existing username, <strong>you must
    first login to an existing account first</strong>. Please login below
    with an existing account:
    </p>
    
    {% rpx_embed "?next=/accounts/associate/" %}

{% endblock %}
