{% extends "django_rpx/base.html" %}

{% block bodyid %}associate-failed{% endblock %}
{% block title %}Failed to Associate Login{% endblock %}

{% block extracss %}
<style type="text/css">
    #container {
        width: 500px;
        margin: 5px auto;
    }
    #header {
        text-align: center;
    }
    #content #helper {
        text-align: center;
    }
    #content #rpx_embed {
        display: block;
        margin: 0 auto;
        border: 1px solid #ccc;
        width: 330px !important;
        height: 240px !important;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 28px;
        padding-right: 5px;
    }

</style>
{% endblock %}

{% block header %}
    <h1>Failed to Associate Login with Existing User</h1>
{% endblock %}

{% block content %}
    <p id="helper">
    Unfortunately, we were unable to associate your new login with your current
    account. Perhaps, <a href="{% url auth_associate %}">you can try the
    association again</a>.
    </p>
{% endblock %}
