{% extends "django_rpx/base.html" %}
{% load rpx_tags %}

{% block bodyid %}associate{% endblock %}
{% block title %}Associate a New Login{% endblock %}

{% block extracss %}
<style type="text/css">
    #container {
        width: 500px;
        margin: 5px auto;
    }
    #header {
        text-align: center;
    }
    #content #associated_accounts {
        padding-left: 10px;
    }
    #content #associated_accounts .user_identifier {
        margin-left: 5px;
        width: 60%;
    }

</style>
{% endblock %}

{% block header %}
    <h1>Associate a New Login</h1>
{% endblock %}

{% block content %}
    <div id="associated_accounts">
        <p>Here are the logins you have currently associated with your username 
        ({{ user.username }}):</p>
        <ul>
            {% for rpxdata in user_rpxdatas %}
            <li>{{ rpxdata.provider }} ID: <input type="text" class="user_identifier" value="{{ rpxdata.identifier }}" /></li>
            {% endfor %}
        </ul>
        <p id="add_login">
            {% rpx_link "To add another login to your account, click here to sign in with a <em>different</em> login." "?next=/accounts/associate/" rpx_response_path %}
        </p>
    </div>

{% endblock %}

{% block bodyend %}
    {% rpx_script "?next=/accounts/associate/" rpx_response_path %}
{% endblock %}
