<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}django_rpx example{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        #navigation {
            text-align: right;
        }
    </style>

    {% block extracss %}{% endblock %}

    {% block javascript %}{% endblock %}
    
    {% block extrahead %}{% endblock %}
</head>

<body id="{% block bodyid %}{% endblock %}">

<div id="container">

{% if user.is_authenticated %}
<div id="navigation">
    <ul>
        <a href="{% url auth_logout %}">Logout</a>
    </ul>
</div>
{% endif %}

<div id="header">
{% block header %}
    <h1>Example RPX Application</a></h1>
{% endblock %}
</div>

<div id="content">
{% block content %}
{% endblock %}
</div>

</div> <!-- container -->

{% block bodyend %}{% endblock %}

</body>
</html>

