{% extends "django_rpx/base.html" %}
{% load rpx_tags %}

{% block bodyid %}register{% endblock %}
{% block title %}Register New User{% endblock %}

{% block extracss %}
<style type="text/css">
    #container {
        width: 500px;
        margin: 5px auto;
    }
    #header {
        text-align: center;
    }
    #content #helper {
        text-align: center;
    }
    #content #errors {
        text-align: center;
        padding: 5px 4px;
        border: 2px solid #e2451c;
        font-weight: bold;
        margin-bottom: 15px;
    }
    #content #register_form {
        display: block;
        margin: 0 auto;
        border: 1px solid #ccc;
        width: 300px !important;
        padding: 10px;
    }
    #content #register_form .errorlist {
        list-style-type: none;
        padding: 5px;
        border: 2px solid #e2451c;
    }
    #content #register_form .errorlist li {
    }
    #content #register_form p {
        margin-top: 5px;
    }
    #content #register_form label {
        display: block;
    }
    #content #register_form input {
        display: block;
        font-size: 1.2em;
        width: 98%;
    }
    #content #register_form button {
        display: block;
        margin-left: auto;
        font-size: 1.2em;
        width: 30%;
    }
    #content #login_link {
        margin-top: 20px;
        text-align: center;
    }

</style>
{% endblock %}

{% block header %}
    <h1>Register New User</h1>
{% endblock %}

{% block content %}
    <p id="helper">
    This is the first time you have logged into our site with this account.
    Please choose a username that you'd like to use and provide
    your email address (it will never be shared with anyone).
    </p>

    {% if form.errors %}
    <div id="errors">
        Please correct the error{{form.errors|pluralize }} below.
    </div>
    {% endif %}

    
    <form action="" method="post" name="register_form" id="register_form">
        {{ form.as_p }}
        <button type="submit" name="submit" value="Save">Save &raquo;</button>
    </form>
    
    <p id="login_link">
    Or, <a href="{% url auth_associate %}">associate this account with an existing username</a>.
    </p>
{% endblock %}
