{% extends "django_rpx/base.html" %}

{% block bodyid %}profile{% endblock %}
{% block title %}Account Profile{% endblock %}

{% block extracss %}
<style type="text/css">
    #container {
        width: 500px;
        margin: 5px auto;
    }
    #header {
        text-align: center;
    }
    #content #helper {
        text-align: center;
    }
    #content #message {
        text-align: center;
        padding: 5px 4px;
        border: 2px solid #390;
        font-weight: bold;
        margin-bottom: 15px;
    }
    #content #errors {
        text-align: center;
        padding: 5px 4px;
        border: 2px solid #e2451c;
        font-weight: bold;
        margin-bottom: 15px;
    }
    #content #profile_form {
        display: block;
        margin: 0 auto;
        /*border: 1px solid #ccc;*/
        width: 300px;
        padding: 10px;
    }
    #content #profile_form .errorlist {
        list-style-type: none;
        padding: 5px;
        border: 2px solid #e2451c;
    }
    #content #profile_form .errorlist li {
    }
    #content #profile_form p {
        margin-top: 5px;
    }
    #content #profile_form label {
        display: block;
    }
    #content #profile_form input {
        display: block;
        font-size: 1.2em;
        width: 98%;
    }
    #content #profile_form button {
        display: block;
        margin-left: auto;
        font-size: 1.2em;
        width: 30%;
    }

</style>
{% endblock %}

{% block header %}
    <h1>Account Profile</h1>
{% endblock %}

{% block content %}
    <p id="helper">
    </p>

    {% if message %}
    <div id="message">
        {{ message }}
    </div>
    {% endif %}

    {% if form.errors %}
    <div id="errors">
        Please correct the error{{form.errors|pluralize }} below.
    </div>
    {% endif %}
    
    <form action="" method="post" name="profile_form" id="profile_form">
        {{ form.as_p }}
        <button type="submit" name="submit" value="Save">Save</button>
    </form>
    
    <p id="helper">
    <a href="{% url auth_associate %}">View and manage associated logins &raquo;</a>
    </p>

{% endblock %}
